@use "../../../styles/variables.scss" as vars;

.about-actions {
  display: flex;
  justify-content: center;
  gap: vars.$spacing-md;
  flex-wrap: wrap;
  
  .btn--secondary{
    color: var(--accent);
  }
}