@use "../../../styles/variables.scss" as vars;

.parcours-section {
  text-align: center;

  .section-title {
    font-size: vars.$font-size-xl;
    font-weight: 600;
    margin-bottom: vars.$spacing-xl;
    color: var(--color-primary);
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background: var(--color-primary);
      margin: vars.$spacing-xs auto 0;
      border-radius: 2px;
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vars.$spacing-lg;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 3px;
      height: 100%;
      background: var(--color-primary);
      transform: translateX(-50%);
      border-radius: 3px;
    }

    .timeline-item {
      background: var(--color-background);
      border: 1px solid var(--color-secondary);
      border-radius: vars.$radius-lg;
      padding: vars.$spacing-sm;
      width: 100%;
      max-width: 800px; // Add a max-width for readability
      display: flex;
      align-items: center;
      gap: vars.$spacing-sm;
      position: relative;
      transition: transform vars.$transition-base, box-shadow vars.$transition-base;

      opacity: 0;
      transform: translateY(30px);

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(var(--color-primary-rgb), 0.5);
      }

      .timeline-icon {
        background: var(--color-primary);
        color: var(--color-background);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        box-shadow: 0 0 10px var(--color-primary);
      }

      .timeline-content {
        text-align: left;
        h3 {
          margin: 0;
          font-size: vars.$font-size-md;
          font-weight: 600;
        }
        .timeline-subtitle {
          font-size: vars.$font-size-sm;
          opacity: 0.8;
          display: block;
          margin-bottom: vars.$spacing-xs;
        }
        p {
          margin: 0;
          font-size: vars.$font-size-base;
          opacity: 0.9;
        }
      }
    }
  }
}