@use "./variables.scss" as vars;

html[data-theme="light"],
html[data-theme="dark"] {
  transition: background-color 0.4s ease, color 0.4s ease;
}


.page-container {
  display: flex;
  justify-self: center;
  max-width: 1440px;
  min-height: 80vh;
}

header,
footer {
  padding: 0 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  box-shadow: 0 2px 4px var(--shadow);
}
