@use "../../styles/variables.scss" as *;



.projects-intro {
  max-width: 800px;

  h1 {
    color: var(--accent);
    
  }

  p {
    color: var(--text);
    opacity: 0.9;
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.projects-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
  padding: 50px 0;
  background: var(--bg-primary);
  color: var(--text);

  h1 {
    text-align: center;
    color: var(--accent);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}